// widescreen
@include media-xlg {
}

// desktop and latops
@include media-lg {
}

// tablets & small laptops
@include media-md {
  main {
    align-items: center;
    text-align: center;
    .overlay {
      height: 100%;
    }
    .lg-heading {
      line-height: 1.2;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(0, -100%, 0);
    .potrait {
      background: url(../images/potraitsmall.jpg);
      background-size: cover;
      width: 150px;

      height: 150px;
    }
  }
  .about-info {
    grid-template-areas:
      "bioimage "
      "bio"
      "job1"
      "job2"
      "job3";

    grid-template-columns: 1fr;
  }
}

//   Smartphones
@include media-sm {
  main#home h1 {
    margin-top: 10vh;
  }
}
