// widescreen
@include media-xlg {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// desktop and latops
@include media-lg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// tablets & small laptops
@include media-md {
  main {
    .projects {
      grid-template-columns: repeat(2, 1fr);
    }
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1.2;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  .menu-nav {
    height: 75vh;
    transform: translate3d(100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(0, -100%, 0);
    .potrait {
      background: url(../images/potraitsmall.jpg);
      background-size: cover;
      width: 150px;
      height: 150px;
    }
  }
  #about {
    .about-info {
      grid-template-areas:
        "bioimage "
        "bio"
        "job1"
        "job2"
        "job3";

      grid-template-columns: 1fr;

      .bio-image {
        grid-area: bioimage;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        margin: auto;
        border: $seconday-color 3px solid;
      }
      .bio {
        grid-area: bio;
        font-size: 1.5rem;
      }
      .job-1 {
        grid-area: job1;
      }

      .job-2 {
        grid-area: job2;
      }
      .job-3 {
        grid-area: job3;
      }
      .job {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $seconday-color 5px solid;
      }
    }
  }
}

//   Smartphones
@include media-sm {
  .projects {
    grid-template-columns: 1fr;
  }
  main#home h1 {
    margin-top: 10vh;
  }
}
