// images
$show-home-image: true;
$home-image: url(../images/working-at-night.jpg);
$background-opacity: 0.9;

// color variables

$primary-color: #444;
$seconday-color: #eece1a;

// functions
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}
